body {
  margin:0px;
  background-color:rgba(241, 235, 220, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:640px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1138px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1138px;
}
#u1 {
  position:absolute;
  left:2px;
  top:561px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#A1A1A1;
  text-align:center;
  line-height:27px;
}
#u2 {
  position:absolute;
  left:190px;
  top:1046px;
  width:260px;
  height:27px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#A1A1A1;
  text-align:center;
  line-height:27px;
}
#u2_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#A1A1A1;
  text-align:center;
  line-height:27px;
}
#u2.mouseDown {
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  height:76px;
  background:inherit;
  background-color:rgba(136, 204, 228, 1);
  border:none;
  border-radius:261px;
  -moz-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow:0px 1px 1px rgba(0, 0, 0, 0.2);
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u4 {
  position:absolute;
  left:60px;
  top:922px;
  width:521px;
  height:76px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u4_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  height:76px;
  background:inherit;
  background-color:rgba(124, 200, 224, 1);
  border:none;
  border-radius:261px;
  -moz-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.2), 0px 2px 10px 0px rgba(0, 0, 0, 0.149019607843137) inset;
  -webkit-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.2), 0px 2px 10px 0px rgba(0, 0, 0, 0.149019607843137) inset;
  box-shadow:0px 1px 1px rgba(0, 0, 0, 0.2), 0px 2px 10px 0px rgba(0, 0, 0, 0.149019607843137) inset;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u4.mouseDown {
}
#u5 {
  position:absolute;
  left:2px;
  top:23px;
  width:517px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7_div {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(232, 232, 232, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7 {
  position:absolute;
  left:29px;
  top:502px;
  width:570px;
  height:85px;
}
#u7_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(136, 204, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7.selected {
}
#u8 {
  position:absolute;
  left:2px;
  top:34px;
  width:566px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:29px;
  top:511px;
  width:570px;
  height:67px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:67px;
  background-color:transparent;
  font-family:'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  text-decoration:none;
  color:#333333;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:99px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(232, 232, 232, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:99px;
  opacity:0.2;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
}
#u13 {
  position:absolute;
  left:2px;
  top:42px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:50px;
  height:50px;
}
#u14 {
  position:absolute;
  left:232px;
  top:30px;
  width:40px;
  height:40px;
}
#u15 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:130px;
  height:42px;
}
#u16 {
  position:absolute;
  left:276px;
  top:34px;
  width:120px;
  height:32px;
}
#u17 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:555px;
  top:12px;
}
#u19_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u19_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
}
#u21 {
  position:absolute;
  left:2px;
  top:30px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u19_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
}
#u23 {
  position:absolute;
  left:2px;
  top:30px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:32px;
}
#u24 {
  position:absolute;
  left:574px;
  top:34px;
  width:37px;
  height:32px;
}
#u25 {
  position:absolute;
  left:2px;
  top:8px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:11px;
  top:12px;
}
#u27_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u27_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
}
#u29 {
  position:absolute;
  left:2px;
  top:30px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:4px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u31 {
  position:absolute;
  left:30px;
  top:59px;
  width:18px;
  height:4px;
  color:#FFFFFF;
}
#u32 {
  position:absolute;
  left:2px;
  top:-6px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:4px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u33 {
  position:absolute;
  left:30px;
  top:49px;
  width:27px;
  height:4px;
  color:#FFFFFF;
}
#u34 {
  position:absolute;
  left:2px;
  top:-6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:4px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u35 {
  position:absolute;
  left:30px;
  top:39px;
  width:36px;
  height:4px;
  color:#FFFFFF;
}
#u36 {
  position:absolute;
  left:2px;
  top:-6px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:4px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u38 {
  position:absolute;
  left:30px;
  top:57px;
  width:18px;
  height:4px;
  color:#FFFFFF;
}
#u39 {
  position:absolute;
  left:2px;
  top:-6px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:4px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u40 {
  position:absolute;
  left:30px;
  top:47px;
  width:27px;
  height:4px;
  color:#FFFFFF;
}
#u41 {
  position:absolute;
  left:2px;
  top:-6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:4px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u42 {
  position:absolute;
  left:30px;
  top:37px;
  width:36px;
  height:4px;
  color:#FFFFFF;
}
#u43 {
  position:absolute;
  left:2px;
  top:-6px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44 {
  position:absolute;
  left:11px;
  top:12px;
  width:75px;
  height:74px;
}
#u45 {
  position:absolute;
  left:2px;
  top:29px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:2px;
}
#u46 {
  position:absolute;
  left:0px;
  top:99px;
  width:640px;
  height:1px;
}
#u47 {
  position:absolute;
  left:2px;
  top:-8px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48_img {
  position:absolute;
  left:-5px;
  top:-3px;
  width:651px;
  height:12px;
}
#u48 {
  position:absolute;
  left:0px;
  top:98px;
  width:640px;
  height:1px;
}
#u49 {
  position:absolute;
  left:2px;
  top:-8px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51_div {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(232, 232, 232, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u51 {
  position:absolute;
  left:29px;
  top:397px;
  width:570px;
  height:85px;
}
#u51_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(136, 204, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u51.selected {
}
#u52 {
  position:absolute;
  left:2px;
  top:34px;
  width:566px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:29px;
  top:406px;
  width:570px;
  height:67px;
}
#u53_input {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:67px;
  background-color:transparent;
  font-family:'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  text-decoration:none;
  color:#333333;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u55_div {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(232, 232, 232, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55 {
  position:absolute;
  left:29px;
  top:187px;
  width:570px;
  height:85px;
}
#u55_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(136, 204, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55.selected {
}
#u56 {
  position:absolute;
  left:2px;
  top:34px;
  width:566px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:29px;
  top:196px;
  width:570px;
  height:67px;
}
#u57_input {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:67px;
  background-color:transparent;
  font-family:'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  text-decoration:none;
  color:#333333;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u59_div {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(232, 232, 232, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u59 {
  position:absolute;
  left:29px;
  top:292px;
  width:570px;
  height:85px;
}
#u59_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(136, 204, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u59.selected {
}
#u60 {
  position:absolute;
  left:2px;
  top:34px;
  width:566px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:29px;
  top:301px;
  width:570px;
  height:67px;
}
#u61_input {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:67px;
  background-color:transparent;
  font-family:'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  text-decoration:none;
  color:#333333;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u63_div {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(232, 232, 232, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u63 {
  position:absolute;
  left:29px;
  top:607px;
  width:570px;
  height:85px;
}
#u63_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(136, 204, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u63.selected {
}
#u64 {
  position:absolute;
  left:2px;
  top:34px;
  width:566px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:29px;
  top:616px;
  width:570px;
  height:67px;
}
#u65_input {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:67px;
  background-color:transparent;
  font-family:'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  text-decoration:none;
  color:#333333;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u67_div {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(232, 232, 232, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67 {
  position:absolute;
  left:29px;
  top:712px;
  width:570px;
  height:85px;
}
#u67_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(136, 204, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67.selected {
}
#u68 {
  position:absolute;
  left:2px;
  top:34px;
  width:566px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:29px;
  top:721px;
  width:570px;
  height:67px;
}
#u69_input {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:67px;
  background-color:transparent;
  font-family:'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  text-decoration:none;
  color:#333333;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u70_div {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#A1A1A1;
  text-align:center;
  line-height:27px;
}
#u70 {
  position:absolute;
  left:29px;
  top:840px;
  width:570px;
  height:54px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#A1A1A1;
  text-align:center;
  line-height:27px;
}
#u70_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#A1A1A1;
  text-align:center;
  line-height:27px;
}
#u70.mouseDown {
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  word-wrap:break-word;
}
