body {
  margin:0px;
  background-color:rgba(241, 235, 220, 1);
  background-image:none;
  position:relative;
  left:-80px;
  width:640px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u83_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1138px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 1px 2px rgba(0, 0, 0, 0.349019607843137);
}
#u83 {
  position:absolute;
  left:80px;
  top:80px;
  width:640px;
  height:1138px;
}
#u84 {
  position:absolute;
  left:2px;
  top:561px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#A1A1A1;
  text-align:center;
  line-height:27px;
}
#u85 {
  position:absolute;
  left:270px;
  top:1126px;
  width:260px;
  height:27px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#A1A1A1;
  text-align:center;
  line-height:27px;
}
#u85_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#A1A1A1;
  text-align:center;
  line-height:27px;
}
#u85.mouseDown {
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u87_div {
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  height:76px;
  background:inherit;
  background-color:rgba(136, 204, 228, 1);
  border:none;
  border-radius:261px;
  -moz-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow:0px 1px 1px rgba(0, 0, 0, 0.2);
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u87 {
  position:absolute;
  left:140px;
  top:1002px;
  width:521px;
  height:76px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u87_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  height:76px;
  background:inherit;
  background-color:rgba(124, 200, 224, 1);
  border:none;
  border-radius:261px;
  -moz-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.2), 0px 2px 10px 0px rgba(0, 0, 0, 0.149019607843137) inset;
  -webkit-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.2), 0px 2px 10px 0px rgba(0, 0, 0, 0.149019607843137) inset;
  box-shadow:0px 1px 1px rgba(0, 0, 0, 0.2), 0px 2px 10px 0px rgba(0, 0, 0, 0.149019607843137) inset;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u87.mouseDown {
}
#u88 {
  position:absolute;
  left:2px;
  top:23px;
  width:517px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u90_div {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(232, 232, 232, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u90 {
  position:absolute;
  left:109px;
  top:582px;
  width:570px;
  height:85px;
}
#u90_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(136, 204, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u90.selected {
}
#u91 {
  position:absolute;
  left:2px;
  top:34px;
  width:566px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:109px;
  top:591px;
  width:570px;
  height:67px;
}
#u92_input {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:67px;
  background-color:transparent;
  font-family:'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  text-decoration:none;
  color:#333333;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u95_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:99px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(232, 232, 232, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
}
#u95 {
  position:absolute;
  left:80px;
  top:80px;
  width:640px;
  height:99px;
  opacity:0.2;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
}
#u96 {
  position:absolute;
  left:2px;
  top:42px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:50px;
  height:50px;
}
#u97 {
  position:absolute;
  left:312px;
  top:110px;
  width:40px;
  height:40px;
}
#u98 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:130px;
  height:42px;
}
#u99 {
  position:absolute;
  left:356px;
  top:114px;
  width:120px;
  height:32px;
}
#u100 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:635px;
  top:92px;
}
#u102_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u102_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
}
#u104 {
  position:absolute;
  left:2px;
  top:30px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u102_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
}
#u106 {
  position:absolute;
  left:2px;
  top:30px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:32px;
}
#u107 {
  position:absolute;
  left:654px;
  top:114px;
  width:37px;
  height:32px;
}
#u108 {
  position:absolute;
  left:2px;
  top:8px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:91px;
  top:92px;
}
#u110_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u110_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
}
#u112 {
  position:absolute;
  left:2px;
  top:30px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:4px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u114 {
  position:absolute;
  left:110px;
  top:139px;
  width:18px;
  height:4px;
  color:#FFFFFF;
}
#u115 {
  position:absolute;
  left:2px;
  top:-6px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:4px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u116 {
  position:absolute;
  left:110px;
  top:129px;
  width:27px;
  height:4px;
  color:#FFFFFF;
}
#u117 {
  position:absolute;
  left:2px;
  top:-6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:4px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u118 {
  position:absolute;
  left:110px;
  top:119px;
  width:36px;
  height:4px;
  color:#FFFFFF;
}
#u119 {
  position:absolute;
  left:2px;
  top:-6px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:4px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u121 {
  position:absolute;
  left:110px;
  top:137px;
  width:18px;
  height:4px;
  color:#FFFFFF;
}
#u122 {
  position:absolute;
  left:2px;
  top:-6px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:4px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u123 {
  position:absolute;
  left:110px;
  top:127px;
  width:27px;
  height:4px;
  color:#FFFFFF;
}
#u124 {
  position:absolute;
  left:2px;
  top:-6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:4px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u125 {
  position:absolute;
  left:110px;
  top:117px;
  width:36px;
  height:4px;
  color:#FFFFFF;
}
#u126 {
  position:absolute;
  left:2px;
  top:-6px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u127 {
  position:absolute;
  left:91px;
  top:92px;
  width:75px;
  height:74px;
}
#u128 {
  position:absolute;
  left:2px;
  top:29px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:2px;
}
#u129 {
  position:absolute;
  left:80px;
  top:179px;
  width:640px;
  height:1px;
}
#u130 {
  position:absolute;
  left:2px;
  top:-8px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131_img {
  position:absolute;
  left:-5px;
  top:-3px;
  width:651px;
  height:12px;
}
#u131 {
  position:absolute;
  left:80px;
  top:178px;
  width:640px;
  height:1px;
}
#u132 {
  position:absolute;
  left:2px;
  top:-8px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(232, 232, 232, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u134 {
  position:absolute;
  left:109px;
  top:477px;
  width:570px;
  height:85px;
}
#u134_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(136, 204, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u134.selected {
}
#u135 {
  position:absolute;
  left:2px;
  top:34px;
  width:566px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:109px;
  top:486px;
  width:570px;
  height:67px;
}
#u136_input {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:67px;
  background-color:transparent;
  font-family:'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  text-decoration:none;
  color:#333333;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(232, 232, 232, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u138 {
  position:absolute;
  left:109px;
  top:267px;
  width:570px;
  height:85px;
}
#u138_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(136, 204, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u138.selected {
}
#u139 {
  position:absolute;
  left:2px;
  top:34px;
  width:566px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:109px;
  top:276px;
  width:570px;
  height:67px;
}
#u140_input {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:67px;
  background-color:transparent;
  font-family:'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  text-decoration:none;
  color:#333333;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(232, 232, 232, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u142 {
  position:absolute;
  left:109px;
  top:372px;
  width:570px;
  height:85px;
}
#u142_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(136, 204, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u142.selected {
}
#u143 {
  position:absolute;
  left:2px;
  top:34px;
  width:566px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:109px;
  top:381px;
  width:570px;
  height:67px;
}
#u144_input {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:67px;
  background-color:transparent;
  font-family:'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  text-decoration:none;
  color:#333333;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(232, 232, 232, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u146 {
  position:absolute;
  left:109px;
  top:687px;
  width:570px;
  height:85px;
}
#u146_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(136, 204, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u146.selected {
}
#u147 {
  position:absolute;
  left:2px;
  top:34px;
  width:566px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:109px;
  top:696px;
  width:570px;
  height:67px;
}
#u148_input {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:67px;
  background-color:transparent;
  font-family:'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  text-decoration:none;
  color:#333333;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(232, 232, 232, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u150 {
  position:absolute;
  left:109px;
  top:792px;
  width:570px;
  height:85px;
}
#u150_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(136, 204, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u150.selected {
}
#u151 {
  position:absolute;
  left:2px;
  top:34px;
  width:566px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152 {
  position:absolute;
  left:109px;
  top:801px;
  width:570px;
  height:67px;
}
#u152_input {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:67px;
  background-color:transparent;
  font-family:'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  text-decoration:none;
  color:#333333;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#A1A1A1;
  text-align:center;
  line-height:27px;
}
#u153 {
  position:absolute;
  left:109px;
  top:920px;
  width:570px;
  height:54px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#A1A1A1;
  text-align:center;
  line-height:27px;
}
#u153_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#A1A1A1;
  text-align:center;
  line-height:27px;
}
#u153.mouseDown {
}
#u154 {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  word-wrap:break-word;
}
